.DS_Store
__pycache__
simian/__pycache__
github
hf-objaverse-v1
sketchfab
smithsonian
thingiverse
combinations.json
annotations*.json
captions.json
datasets
renders
backgrounds
examples
materials
sampled_df.json
*.blend1
*.obj
venv/
.env
version.txt
dist
config.json
chroma_data
chroma.log