blender
blender-*
.DS_Store
__pycache__
simian/__pycache__
github
hf-objaverse-v1
sketchfab
smithsonian
thingiverse
combinations.json
annotations*.json
datasets
renders
backgrounds
examples
sampled_df.json
*.blend1
*.obj
*.glb