.DS_Store
__pycache__
simian/__pycache__
github
hf-objaverse-v1
sketchfab
smithsonian
thingiverse
combinations.json
annotations*.json
captions.json
datasets
renders
backgrounds
examples
materials
sampled_df.json
*.blend1
*.obj
venv/
.env
version.txt
dist
config.json
chroma_data
chroma_db
chroma.log
get_captions_1.json
get_captions_2.json
get_captions_processed.json
combinations_updated.json
combinations_processed.json
stationary
combined_captions.py
combinations
combinations_0-26.json
combinations_27-53.json
simian/render.py